<!--
 * @Author: xuyangt
 * @Date: 2019-09-12 10:17:45
 * @LastEditors: xuyangt
 * @LastEditTime: 2019-09-26 09:50:26
 * @Description: file content
 -->
<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" id="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1.0,maximum-scale=1"  />
  <meta http-equiv="X-UA-Compatible" content="ie=edge"><meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <title> Application </title>
  <link rel="stylesheet" href="../../../../mobile_platform/loading.css" />
  <link rel="stylesheet" href="../../../../mobile_platform/nc-lightapp-mobile/nc-lightapp-mobile.css" />
  <%= configcss %>
</head>

<body>
  <div id="ncc-loading" class="Parent-loading">

    <div class="loding-animation-container">
        <div class="loding-animation-holder">
          <div class="loading-animator"></div>
          <div class="loading-animator"></div>
          <div class="loading-animator"></div>
          <div class="loading-animator"></div>
      </div>
    </div>
  </div>
  <div id="app"></div>
  <script src="../../../../mobile_platform/axios.js"></script>
  <script src="../../../../mobile_platform/polyfill.js"></script>
  <script src="../../../../mobile_platform/react.js"></script>
  <script src="../../../../mobile_platform/react-dom.js"></script>
  <script src="../../../../mobile_platform/react-router-dom.js"></script>
  <script src="../../../../mobile_platform/redux.js"></script>
  <script src="../../../../mobile_platform/react-redux.js"></script>
  <script src="../../../../mobile_platform/mtl.js"></script>
  <script src="../../../../mobile_platform/ncc_mtl.js"></script>
  <script src="../../../../mobile_platform/eruda.js"></script>
  <script src="../../../../mobile_platform/nc-lightapp-mobile/nc-lightapp-mobile.js"></script>
  <%= configjs %>
</body>
