body,#app {
    margin: 0 !important;
    padding: 0 !important;
}
.wrap {
	position: absolute;
	/* margin-top:-42px; */
	width:360px;
	height:176px!important;
	background:rgba(255,255,255,1);
	box-shadow: 0px 1px 1px 0px rgba(74,81,93,0.1);
	border-radius: 3px ;
	overflow: hidden;
	flex-wrap: wrap;
}
.titleContainer {
	display: -webkit-box;
    width: 100%;
}
.title{
	margin-top: 14px;
	-webkit-box-flex: 1.0;
	-webkit-box-pack: start;
	line-height: 21px;
	padding-left: 8px;
	font-size: 16px;
	color: #111111;
	font-family: 'tahoma','Hiragino Sans GB','arial','Heiti SC','Microsoft YaHei','sans-serif';
	display: -webkit-box;
    align-self: flex-start;
}
.echartContainer{
	height: 134px;
    /*padding: 10px 32px 32px 32px;*/
}
.svg {
	width: 16px;
	height: 19px;
	cursor: pointer;
	opacity: 0.4;
	position: absolute;
	left: 9px;
	bottom: 5px;
}
.worktimeTitle {
	position: absolute;
	right: 9px;
	bottom: 5px;
	font-size:12px;
	font-family:MicrosoftYaHei;
	color:rgba(136,136,136,1);
	line-height:16px;
}
