<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>大型企业数字化平台</title>
  <link rel="icon" href="../../../public/img/picture.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="../../../../platform/nc-lightapp-front/nc-lightapp-front.css"/>
  <script type="text/javascript" src="../../../../platform/yonyou-yyy.js"></script>
</head>
<body>
  <div id="login_div"></div>
  <script src="../../../../platform/axios.js"></script>
  <script src="../../../../platform/polyfill.js"></script>
  <script src="../../../../platform/react.js"></script>
  <script src="../../../../platform/react-dom.js"></script>
  <script src="../../../../platform/ca/ca0.js"></script>
  <script src="../../../../platform/ca/ca1.js"></script>
  <script src="../../../../platform/ca/ca2.js"></script>
  <script src="../../../../platform/ca/nccsign.js"></script>
  <script src="../../../../platform/ca/sha256.js"></script>
  <script src="../../../../platform/nc-lightapp-front/nc-lightapp-front.js"></script>
  
</body>
