<!DOCTYPE html>

<!-- <html lang="zh_CN"> -->
<html lang="zh_CN">
<!-- Head -->

<head>
    <meta charset="utf-8" />
    <title>拒绝Offer</title>
    <meta name="description" content="Dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>
<script type="text/javascript">
  // var timer = 5;
  // window.onload = function() {
  //   tiaozhuan();
  // }

  // function tiaozhuan(){
  //   var tl = document.getElementById("tl");
  //   var t = document.getElementById("tz");
  //   var timeout = window.setTimeout('tiaozhuan()', 1000);
  //   var userAgent = navigator.userAgent;
  //   if (userAgent.indexOf("Firefox") != -1 || userAgent.indexOf("Chrome") !=-1 || userAgent.indexOf("Opera") !=-1 ) {
  //     if (timer > 0) {
  //       t.innerHTML = timer;
  //       timer--;
  //     } else {
  //       clearTimeout(timeout);
  //       window.opener = null;
  //       window.close();
  //     }
  //   } else if (userAgent.indexOf('Android') > -1 || userAgent.indexOf('Linux') > -1){
  //     tl.style.display = 'none';
  //   } else {
  //     window.opener = null;
  //     tl.style.display = 'none';
  //   }
  // }
</script>
<style>

</style>
</head>

<body>
<div style="text-align: center;margin-top: 200px;">
    <!-- <img src="/static/images/staff/unoffer.png" style="height: 160px;"><br> -->
    <div class="bg-pic"></div>
    <div class="zt">您已拒绝接受Offer，望下次有机会合作！</div><br>
    <div class="errMsg"></div>
    <!-- <div class="tz" id="tl">页面将在<span id = "tz"></span>秒后<a class="tz" href="javaScript:window.close();">关闭</a></div> -->
</div>
<script src="../../../../platform/axios.js"></script>
</body>
</html>
